.pro{
    background-image: url('H:\amrth\angularapp\myportfolio\src\app\profile\images\amruth photo.jpeg');
    background-repeat: no-repeat;
    height: 600px;
  
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}