<div id="education">
    <div>
    <h1>Educational Qualification</h1>
    <table border="15px">
            <tr>
                <td>
                    <h3>•BE (CSE), 6.8 (CGPA), 2017-2020 &nbsp;</h3>  </td> 
                <td>   <h5>&nbsp; THE OXFORDCollege of Engineering,<br>
                    &nbsp; Visvesvaraya Technological University, Belgaum. <br></h5> </td>
            
            </tr>
            
            <tr>
                <td>
                   <h3> •DIPLOMA, 78%, 2014-2017</h3>  </td>
                <td>  <h5> &nbsp; B.V.V.S POLYTECHNIC<br>
                     &nbsp; Department of Pre-University Education, Karnataka. <br> </h5> 
                </td>
            </tr>
            <tr>
                <td>
                  <h3>  •SSLC,77%, 2014</h3> </td>
                <td>   <h5> &nbsp; Shree Guru Krupa High School,GiriyapuraKadurTq, ChikmagalurDist <br>
                        &nbsp;  Karnataka Secondary Education Examination Board (KSEEB). <br> </h5>
                </td>
            </tr>
    </table>
</div>   
</div>